.card_container {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  gap: 40px;
}

.loader {
  justify-self: center;
}

.error {
  justify-self: center;
}

/* Media Queries */

@media (max-width: 494px) {
  .card_container {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

@media (max-width: 438px) {
  .card_container {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}