.wrapper {
  width: 400px;
  margin-top: 40px;
  position: relative;
}

.search {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.clear {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: inherit;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 15px;
}

.search:focus {
  outline: 2px solid rgba(238, 96, 214, 0.3);
}

/* Media Queries */

@media (max-width: 494px) {
  .wrapper {
    width: 350px;
  }
}

@media (max-width: 438px) {
  .wrapper {
    width: 300px;
  }
}
